Django==1.9.5
MySQL-python==1.2.5
amqp==1.4.9
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.23
celery==3.1.23
django-celery==3.1.17
djangorestframework==3.3.3
kombu==3.0.35
pytz==2016.3
redis==2.10.5
wsgiref==0.1.2
